<header><h1>Bravo Personal Score Library Catalogue</h1></header>
<br><br>
<h2>Please enter a new score to add it to your catalogue</h2>
<form action="/scores" method="POST">
<label for="title">Title:</label>
<input type="text" name="title"><br />
<label for="composer">Composer:</label>
<input type="text" name="composer"><br />
<label for="genre">Genre:</label>
<input type="text" name="genre"><br />
<label for="year_composed">Year:</label>
<input type="integer" name="year_composed"><br />
<input type="submit" value="Submit">
</form>