<header><h1>Bravo Personal Score Library Catalogue</h1></header>
<br><br>
<h2>Welcome to the Bravo Personal Score Library Catalogue!</h2>
<h3>Sign Up Here to Keep Track of the Scores in <em>Your</em> Library!</h3><br />
<% if @user && @user.errors %>
    <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>
<form method="POST" action="/users">
    <p>Name: <input type="text" name="name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" value="Sign Up">
</form >