<%# <header><img src="images/bravo-logo-small.png" class="img-responsive main-image"></header> %>
<h1>Bravo Personal Score Library Catalogue</h1>
 <div class="content">
      <p>Welcome to the Bravo Personal Score Library Catalogue!<br>
      Keep track of the scores in <em>your</em> library!</p>
    </div>